# Qt build directories
build*/
*.pro.user
*.qmake.stash

# Compiled output
*.exe
*.dll
*.obj
*.o
*.pdb
*.ilk

# Python cache
__pycache__/
*.pyc
.venv/
.env/

# Misc
.DS_Store
Thumbs.db
pyproject.toml.user

#exe file
/dist/
