# Qt Creator build directories
build*/
*.pro.user
*.qmake.stash

# Compiled output
*.exe
*.dll
*.obj
*.o
*.pdb
*.ilk

# Python cache
__pycache__/
*.pyc
.venv/
.env/
.qtcreator/Python_3_11_9venv/
# Misc
.DS_Store
Thumbs.db
pyproject.toml.user
